/* ==UserStyle==
@name           Font Mapper
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Config to replace various fonts on websites with these fonts!
@author         ninetailedtori
@preprocessor   default
==/UserStyle== */

@use "sass:string";
@use "sass:list";

// VARIABLES

$font-sans:
  "Inria Sans",
  "JetBrainsMono Nerd Font",
  "Material Symbols Outlined",
  "Noto Emoji",
  ui-sans-serif,;
$font-heading:
  "Beuron Condensed",
  "JetBrainsMono Nerd Font",
  "Material Symbols Outlined",
  "Noto Emoji",
  ui-serif,;
$font-mono:
  "JetBrainsMono Nerd Font",
  "Material Symbols Outlined",
  "Noto Emoji",
  ui-monospace,;

$feature-settings: "zero" 1, "cv06" 1, "cv07" 1, "cv14" 1;

$headings: "h1", "h2", "h3", "h4", "h5";
$editors:
  "code",
  "pre",
  "input",
  "textarea",
  '[class="react-code-text"]',
  "editor",
  '[class="monaco-editor"]',
  '[class="cm-editor"]',
  "tt",
  '[class="js-file-line-container"]',;
$buttons: "button", '[role="button"]', ".btn";
$icons: '[class*="icon"]';

$excluded-raw: $headings, $editors, $buttons, $icons;

$excluded: "";
$within-excluded: "";

@each $list in $excluded-raw {
  @each $selector in $list {
    @if $excluded == "" {
      $excluded: string.unquote($selector);
      $within-excluded: string.unquote($selector) + " *";
    } @else {
      $excluded: $excluded + ", " + string.unquote($selector);
      $within-excluded: $within-excluded + ", " + string.unquote($selector)
        + " *";
    }
  }
}

// MIXINS

@mixin code-styling() {
  font-family: $font-mono !important;
  font-size: 14px !important;
  font-weight: 600 !important;

  b, strong, em, bold {
    font-weight: 800 !important;
  }
}

// STYLES

:root {
  * {
    font-feature-settings: $feature-settings;
  }

  :not(#{$excluded}, #{$within-excluded}) {
    font-family: $font-sans;
  }

  #{$headings} {
    font-family: $font-heading;
  }

  #{$editors} {
    @include code-styling();
  }
}
