/*
 * SPDX-FileCopyrightText: 2026-Present ninetailedtori <ninetailedtori@uwu.gal>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* ==UserStyle==
@name         Personal LESS Theme
@namespace    github.com/ninetailedtori/personal-userstyles
@version      1.0.1
@description  Just a collection of things that make things cuter!
@author       ninetailedtori

@preprocessor less
@var select   lightFlavor     "Light Flavor"                ["latte:Latte*", "frappe:Frappé", "macchiato:Macchiato", "mocha:Mocha"]
@var select   darkFlavor      "Dark Flavor"                 ["latte:Latte", "frappe:Frappé", "macchiato:Macchiato", "mocha:Mocha*"]
@var select   accentColor     "Accent"                      ["rosewater:Rosewater", "flamingo:Flamingo", "pink:Pink", "mauve:Mauve*", "red:Red", "maroon:Maroon", "peach:Peach", "yellow:Yellow", "green:Green", "teal:Teal", "blue:Blue", "sapphire:Sapphire", "sky:Sky", "lavender:Lavender", "subtext0:Gray"]
@var checkbox changeDefaults  "Stylize base components"     1
@var checkbox changeLinks     "Stylize link colours"        1
@var checkbox changeInputs    "Stylize form inputs"         1
@var checkbox changeMW        "Stylize MediaWiki elements"  1
==/UserStyle== */

@import "https://userstyles.catppuccin.com/lib/lib.less";

@-moz-document regexp(".*") {
  :root {
    @media (prefers-color-scheme : light) {
      #catppuccin(@lightFlavor);
    }

    @media (prefers-color-scheme : dark) {
      #catppuccin(@darkFlavor);
    }
  }

  #mixins {
    .shiki-color(@hex, @color-var) {
      &[style*="--shiki-dark: @{hex}" i] {
        color : @color-var !important;
      }
    }
  }

  #catppuccin(@flavor) {
    #lib.palette();
    #lib.defaults();

    // ╔═══════════════════════════════════════════════════════════════════════╗
    // ║                                DEFAULTS                               ║
    // ╚═══════════════════════════════════════════════════════════════════════╝

    :is(html, body) when (@changeDefaults) {
      color            : @text;
      background-color : @base;
    }

    // ╔═══════════════════════════════════════════════════════════════════════╗
    // ║                                 SYNTAX                                ║
    // ╚═══════════════════════════════════════════════════════════════════════╝

    span[class="--shiki-dark"] {
      #mixins.shiki-color(#8b949e, @overlay2);
      #mixins.shiki-color(#e6edf3, @text);
      #mixins.shiki-color(#ff7b72, @red);
      #mixins.shiki-color(#79c0ff, @blue);
      #mixins.shiki-color(#ffa657, @peach);
      #mixins.shiki-color(#d2a8ff, @mauve);
      #mixins.shiki-color(#a5d6ff, @green);
      #mixins.shiki-color(#ffb657, @yellow);
    }

    // ╔═══════════════════════════════════════════════════════════════════════╗
    // ║                                 LINKS                                 ║
    // ╚═══════════════════════════════════════════════════════════════════════╝

    :not(
    li.isactive,
    li.active
  ) > a:not(
      [class*="button" i],
      [class*="btn" i],
      .page-link,
      .form-control,
      .form-select,
      .form-check-input,
      .form-range,
      .pf-v5-c-nav__link
    ) when (@changeLinks) {
      color : @blue;

      &:hover {
        color : @sky;
      }

      &:active,
      &:focus,
      &:focus-within {
        color : @sapphire;
      }

      &:visited {
        color : @lavender;
      }

      &:link {
        color : @blue;

        &:hover {
          color : @sky;
        }

        &:active,
        &:focus,
        &:focus-within {
          color : @sapphire;
        }

        &:visited {
          color : @lavender;
        }
      }
    }

    // ╔═══════════════════════════════════════════════════════════════════════╗
    // ║                                 INPUTS                                ║
    // ╚═══════════════════════════════════════════════════════════════════════╝

    :is(
    input,
    select,
    select option,
    textarea
  ) when (@changeInputs) {
      color            : @text !important;
      background-color : @surface0 !important;
      border-color     : @overlay0 !important;

      &:enabled {
        color            : @text !important;
        background-color : @surface0 !important;
      }

      &:hover {
        background-color : @surface1 !important;
      }

      &:active,
      &:focus,
      &:focus-within {
        background-color : @surface2 !important;
      }

      &:checked {
        background-color : @accent !important;

        &::after {
          color : @base !important;
        }
      }

      &:invalid,
      &:user-invalid {
        color            : @red !important;
        background-color : fade(@red, 30%) !important;
        border-color     : @red !important;
      }

      &:disabled {
        color            : @surface0 !important;
        background-color : @mantle !important;
      }

      &:link,
      &:link:enabled {
        color : @blue !important;

        &:hover {
          color : @sky !important;
        }

        &:active,
        &:focus,
        &:focus-within {
          color : @sapphire !important;
        }

        &:visited {
          color : @lavender !important;
        }
      }
    }

    input[type = "radio"] when (@changeInputs) {
      background-color : @surface0 !important;
      accent-color     : @accent !important;
    }

    // ╔═══════════════════════════════════════════════════════════════════════╗
    // ║                               MEDIAWIKI                               ║
    // ╚═══════════════════════════════════════════════════════════════════════╝

    .cdx-button:has(.mw-ui-icon-wikimedia-expand) when (@changeMW) {
      color            : @text !important;
      background-color : transparent !important;
      border-color     : transparent !important;

      &:enabled {
        color            : @text !important;
        background-color : transparent !important;
        border-color     : transparent !important;
      }

      &:hover {
        background-color : @surface1 !important;
      }

      &:active,
      &:focus,
      &:focus-within {
        background-color : @surface2 !important;
      }

      &:invalid {
        color : @maroon !important;
      }
    }

    .cdx-button .mw-ui-icon-wikimedia-expand when (@changeMW) {
      fill : @accent !important;

      &:enabled {
        fill : @accent !important;
      }

      &:hover {
        fill : darken(@accent, 5%) !important;
      }

      &:active,
      &:focus,
      &:focus-within {
        fill : darken(@accent, 10%) !important;
      }

      &:disabled {
        fill : @mantle !important;
      }
    }

    .multiselect when (@changeMW) {
      color : @accent !important;
    }

    .checklist when (@changeMW) {
      color            : @text !important;
      background-color : @surface0 !important;
      border-color     : @surface1 !important;

      &:active,
      &:focus,
      &:focus-within {
        border-color : @accent !important;
      }

      legend {
        color : @text !important;
      }
    }

    .rbox when (@changeMW) {
      border-color        : @overlay0 !important;
      border-bottom-width : 2px;
      border-bottom-style : solid;

      label:last-child {
        border-bottom-style : none;
      }
    }

    .vector-toc :is(.vector-toc-toggle, .vector-pinnable-header-toggle-button) when (@changeMW) {
      color            : @subtext1 !important;
      background-color : @base !important;

      &::after {
        background-color : @accent !important;
      }

      .vector-icon {
        filter : @accent-filter !important;
      }

      &:hover {
        background-color : fade(@accent, 30%) !important;
      }

      &:focus-within {
        outline    : @accent solid 2px !important;
        border     : none !important;
        box-shadow : none !important;
      }

      &:active {
        color            : @base !important;
        background-color : darken(@accent, 10%) !important;

        &::after {
          background-color : @base !important;
        }

        .vector-icon {
          filter : @base-filter !important;
        }
      }
    }

    .vector-dropdown .vector-dropdown-checkbox when (@changeMW) {
      + .vector-dropdown-label {
        color            : @subtext1 !important;
        background-color : @base !important;

        &::after {
          background-color : @accent !important;
        }

        .vector-icon {
          filter : @accent-filter !important;
        }
      }

      &:hover + .vector-dropdown-label {
        background-color : fade(@accent, 30%) !important;
      }

      &:focus-within + .vector-dropdown-label {
        outline    : @accent solid 2px !important;
        border     : none !important;
        box-shadow : none !important;
      }

      &:active + .vector-dropdown-label {
        color            : @base !important;
        background-color : darken(@accent, 10%) !important;

        &::after {
          background-color : @base !important;
        }

        .vector-icon {
          filter : @base-filter !important;
        }
      }
    }
  }
}
